.columns h1 {
    color: purple;
}

.columns section {
    /* column-count: 4; */
    /* column-width: 250px; */
    columns: 4 250px;
    column-rule: 3px solid #333;
    column-gap: 3rem;
}

.columns section p {
    margin-bottom: 15px;
}

.columns section h2 {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    break-inside: avoid;
}

.columns section p.quote {
    margin-top: 1rem;
    font-size: 3rem;
    text-align: center;
    column-span: all;
    color: #333;
}

.columns section span.nowrap {
    white-space: nowrap;
}