.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 1.4rem;
}

.links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link {
}

.link:active {
  color: var(--COLOR-GREEN);
}

.logout {
  padding: 5px;
  border: none;
  border-radius: 2px;
  background-color: var(--COLOR-GREEN);
  color: white;
  cursor: pointer;
}
