nav {
    /* border: 2px solid #333;
    border-radius: 2rem;
    margin: 0 auto 1rem;
    max-width: 600px;
    font-size: 3rem;
    line-height: 7rem; */
  }
  
  nav h2 {
    padding: 1rem;
    background: gold;
    border-radius: 2rem 2rem 0 0;
  }
  
  nav ul {
    list-style-type: none;
    text-align: right;
    padding: 0.5rem;
  }
  
  nav li {
    display: inline-block;
    margin-inline: 0.5rem;
  }
  
  nav li a {
    /* display: block; */
  }
  
  nav li a,
  nav li a:visited {
    text-decoration: none;
    color: #333;
  }
  
  nav li a:hover,
  nav li a:focus {
    text-decoration: underline;
    cursor: pointer;
  }