.functions {
  background-color: var(--BGCOLOR);
  background-image: radial-gradient(var(--RADIAL-COLOR), var(--BGCOLOR));
  display: flex;
  flex-direction: column;
  height: 100vw;
}

.functions header,
.functions nav,
.functions footer {
  display: grid;
  place-content: center;
  grid-template-columns: 100%;
  text-align: center;
}

.functions header,
.functions footer {
  position: sticky;
  background-color: var(--ALT-BGCOLOR);
  color: var(--LIGHT-COLOR);
}

.functions header {
  top: 0;
}

.functions nav {
  background-color: var(--LIGHT-COLOR);
  color: var(--DARK-COLOR);
  border-bottom: var(--BORDERS);
  box-shadow: var(--SHADOWS);
}

.functions main {
  flex-grow: 1;

  /* padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    gap: min(4vw, 15px); */
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.functions main section {
  flex-grow: 1;
  padding: var(--PADDING);
}

.functions main aside {
  background-color: hsla(0, 0%, 20%, 0.8);
  color: var(--LIGHT-COLOR);
  font-size: var(--FS-SM);
  font-style: italic;
  padding: var(--PADDING);
}

.functions main .content {
  margin-top: 20px;
}

.functions main .tooltip {
  border-bottom: 1px dashed orange;
  position: relative;
}

.functions main .tooltip:hover::before {
  content: attr(data-tooltip);
  position: absolute;
  top: -2 0px;
  white-space: nowrap;
  background-color: var(--DARK-COLOR);
  padding: var(--PADDING);
  border-radius: 15px;
}

.functions footer {
  bottom: 0;
}

a:any-link {
  color: firebrick;
}

.functions main :is(a:hover, a:focus) {
  filter: brightness(150%);
  /* filter: hue-rotate(180deg); */
}

.functions .square--highlight {
  --SQUARE-BGCOLOR: cornflowerblue;
}

.functions .square {
  background-color: var(--SQUARE-BGCOLOR);
  width: var(--SQUARE-SIZE);
  height: var(--SQUARE-SIZE);
  border: var(--BORDERS);
  border-radius: 15px;
  display: grid;
  place-content: center;
  font-size: var(--FS-XL);
  box-shadow: var(--SHADOWS);
}

/* || small */
@media screen and (min-width: 576px) {
  .functions {
    background-color: green;
    background-image: radial-gradient(var(--RADIAL-COLOR), green);
  }
  .functions nav {
    display: none;
  }
  .functions main {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .functions main section {
    width: calc(70% - 5px);
  }
  .functions main aside {
    width: calc(30% - 5px);
  }
}

/* || medium */
@media screen and (min-width: 768px) {
  .functions {
    background-color: gold;
    background-image: radial-gradient(var(--RADIAL-COLOR), gold);
  }
  .functions nav {
    display: none;
  }
}

/* || large */
@media screen and (min-width: 992px) {
  .functions {
    background-color: firebrick;
    background-image: radial-gradient(var(--RADIAL-COLOR), firebrick);
  }

  .functions nav {
    display: none;
  }
}

/* || xl */
@media screen and (min-width: 1200px) {
  .functions {
    background-color: rebeccapurple;
    background-image: radial-gradient(var(--RADIAL-COLOR), rebeccapurple);
  }
}

/* || modile device landscape */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
  .functions {
    background-color: dodgerblue;
    background-image: radial-gradient(var(--RADIAL-COLOR), dodgerblue);
  }

  .functions nav {
    display: none;
  }

  .functions h1,
  .functions h2 {
    font-size: 1.5rem;
  }
}
