/* Reset start */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Reset end */

/* Variables start */
:root {
  /* FONT */
  --FF: 'Nunito', sans-serif;
  --FS: 1.5rem;
  --FS-SM: clamp(0.5rem, 2vh, 1rem);
  --FS-XL: 3rem;

  /* COLORS */
  --BGCOLOR: #475569;
  --ALT-BGCOLOR: #1E293B;
  --RADIAL-COLOR: whitesmoke;
  --LIGHT-COLOR: whitesmoke;
  --DARK-COLOR: #000;

  /* SQUARE */
  --SQUARE-BGCOLOR: papayawhip;
  --SQUARE-SIZE: max(150px, 20vw);

  /* MENU HEADER */
  --HEADER-BGCOLOR: #333;
  --HEADER-COLOR: whitesmoke;

  /* GENERAL  */
  --PADDING: 0.5em;
  --SHADOWS: 0 6px 5px -5px var(--DARK-COLOR);
  --BORDERS: 2px solid var(--DARK-COLOR);
}

@media (prefers-color-scheme: light) {
  :root {
    /* COLORS */
    --BGCOLOR: #000;
    --ALT-BGCOLOR: #333;
    --RADIAL-COLOR: gray;
    --SQUARE-BGCOLOR: hsl(300, 100%, 25%, 0.6);
  }
}
/* Variables end */

/* General styles start */
body {
  margin: 0.5rem;
  min-height: 100vh;
  font: var(--FS) var(--FF);
}

html {
  scroll-behavior: smooth;
}
/* General styles end */

/* Image Reset start */
/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */
 /* Image Reset end */
