@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200..1000&display=swap');

body {
  padding: 10%;
  font-size: 2rem;
  font-family: 'Nunito', sans-serif;
}



 /* input, button {
  font: inherit;
 } */


p {
  line-height: 1.5;
  word-spacing: 0.2em;
  text-indent: 20px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: blue;
}

a:visited {
  color: purple;
}

a:hover {
  color: dodgerblue;
}

a:active {
  color: red;
}